{% extends '::base.html.twig' %}
{% block title %}{% trans %}titulo_portal{% endtrans %}{% endblock %}
{% block styleshets %}
    {{ parent() }}
    <!-- Specific (Jumbotron)-->
    <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
{%endblock %}
{% block body -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header color-swatch">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="float:left" src="{{ asset ('bundles/leaguevillage/img/flowRoot3016.png')}}" height="50" onclick="document.location = '{{ path('portal_homepage')}}'" />
            </div>
            {% if app.user %}
            {% else %}
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div><!--/.navbar-collapse -->
            {% endif %}
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: left top fixed no-repeat url('{{ asset ('bundles/leaguevillage/img/fondo2.jpg')}}'); background-position: 50% 50%">
        <div class="container" >
            <h1 class="lead" style="color:#eee">{% trans %}heading1{% endtrans %}</h1>            
        </div>
    </div>

    <div class="container">        

        <!-- START THE FEATURETTES -->
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
                {% for i in 1..pagesCount %}
                <li><a href="{{ path('portal_village', {'page': i}) }}">{{ i }}</a></li> 
                {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        <hr class="featurette-divider">
        {% for city in cities %}
            <div class="row featurette">
                {% if loop.index%2 != 0 %}
                    <div class="col-md-7">
                {% else %}
                    <div class="col-md-7 col-md-push-5">
                {% endif %}
                    <h2 class="featurette-heading">{{ city.name }} <span class="text-muted"></span></h2>
                    <p class="lead">{{ city.description }}</p>
                </div>
                {% if loop.index%2 != 0 %}
                    <div class="col-md-5">
                {% else %}
                    <div class="col-md-5 col-md-pull-7">
                {% endif %}
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            <hr class="featurette-divider">
        {% endfor %}
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
                {% for i in 1..pagesCount %}
                <li><a href="{{ path('portal_village', {'page': i}) }}">{{ i }}</a></li> 
                {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        <!--
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>
        -->        

        <footer>
            <p>&copy; 2015 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}