{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Specific -->
    <link href="{{ asset('bundles/leaguevillage/css/cover.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Peña Gastronómica de los Pueblos Blancos{% endblock %}
{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">              
                        <img style="float:left" src="{{ asset ('bundles/leaguevillage/img/flowRoot3015.png')}}" height="50" onclick="document.location = '{{ path('league_village_homepage')}}'" />
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="{{ path('league_village_homepage')}}">Inicio</a></li>
                                <li><a href="#">Usuarios</a></li>
                                <li><a href="{{ path ('contact_new')}}">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <p>Formulario enviado correctamente</p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
